// Watami theme

// Color Palette

$green: darken(#27e8a7, 15%);
$orange: rgb(255,107,87);
$red: rgb(237,78,110);
$yellow: rgb(240, 146, 15);
$blue: rgb(3,135,147);

// Color variables
$black: #242938;
$gray-dark: #423F38;
$gray: #A09992;
$gray-light: #D7D5D1;
$white: #fff;
$burgundy: #B54545;

// Config
$color-background: $black !default;
$color-foreground: #EEEEEE !default;
$color-title: #f1f1f1 !default;
$color-body-text: #c4c4c4 !default;
$color-text-accent: $gray-dark !default;
$color-code: $gray-dark !default;
$color-nav-link: $black !default;
$color-primary-link: $green !default;
$color-primary-link-underline: rgba($color-primary-link, .3) !default;
$color-primary-link-hover: $color-primary-link !default;
$color-primary-underline: $gray !default;
$color-border: $gray-light !default;
$code-background-color: #fafafa !default;
$color-selection-background: rgba(215,213,209,0.99);
$color-selection-font: $color-body-text;